<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>61CFF2D5-8602-4AB8-B893-4D4CCA419A00</key>
		<array/>
		<key>B31A5A3F-C92D-46A1-9530-9589BB6F7047</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61CFF2D5-8602-4AB8-B893-4D4CCA419A00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Ghostty</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ghostty</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>Terminal</string>
				<key>subtext</key>
				<string>Ghostty</string>
				<key>text</key>
				<string>Ghostty</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B31A5A3F-C92D-46A1-9530-9589BB6F7047</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Ghostty.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>61CFF2D5-8602-4AB8-B893-4D4CCA419A00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>61CFF2D5-8602-4AB8-B893-4D4CCA419A00</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>B31A5A3F-C92D-46A1-9530-9589BB6F7047</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
