[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Yuriy Y.
	email = 30913292+yurchenkoy@users.noreply.github.com
[core]
	editor = vim
[init]
	defaultBranch = main
