[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Yuriy Y.
	email = 30913292+yurchenkoy@users.noreply.github.com
	signingkey = 5AAD262109789ACC
[core]
	editor = nvim
[init]
	defaultBranch = main
[gpg]
	format = openpgp
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
